build*/ 
tmp.md
b*.txt
data/osgdata340/

3rd/zlib 
3rd/zstd 
3rd/openssl 
3rd/icu 
3rd/libidn2 
3rd/libpsl 
3rd/curl 
3rd/libjpeg-turbo 
3rd/libpng 
3rd/xz 
3rd/libtiff 
3rd/freetype 
3rd/geos
3rd/sqlite 
3rd/proj
3rd/libexpat 
3rd/abseil-cpp
3rd/protobuf 
3rd/json-c
3rd/gdal 
3rd/osgdraco
3rd/boost/
3rd/osg
3rd/libzip/
3rd/spdlog/
3rd/osgearth

docs/data-process-01.md